.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 1.5rem 0.6rem;
  list-style: none;
}

.reviewInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888888;
}

.reviewInfo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding-right: 0.5rem;
}

.imgsection {
  position: relative;
  width: inherit;
  height: 400px;
  margin: 1rem 0;
  background-size: cover;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
}

.backdrop {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.imgsection img {
  position: absolute;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.textsection h4 {
  font-size: 16px;
  font-weight: 600;
  padding-top: 0.6rem;
  color: #51b059;
}

.textsection p {
  font-size: 14px;
  padding-top: 0.6rem;
  line-height: 1.4;
  word-break: break-all;
}

@media screen and (max-width: 680px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem 0.4rem 1.5rem 0.4rem;
  }

  .reviewImage img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding-right: 0.4rem;
  }
}
