.profile {
  padding-top: 3rem;
  border-top: #EEEEEE solid;
}

.profileImage {
  display: flex;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

.grayline {
  font-size: 0.5rem;
  background-color: #eeeeee;
  margin-bottom: 1rem;
}

.userInfo {
  padding: 1rem 0 1rem 2rem;
  min-width: 80%;
}

.followInfo {
  padding-top: 1.5rem;
  cursor: pointer;
}

.nickname {
  font-size: 1.4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.followed button {
  background: none;
  color : #EC695B;
  font-size: 1.2rem;
}

.notFollowed button {
  background: none;
  font-size: 1.2rem;
}

@media screen and (max-width: 680px) {
  .pageTop {
    display: flex;
    flex-direction: column;
  }

  .userInfo {
    padding: 1rem 0 1rem 2rem;
    min-width: 80%;
  }

  .profile {
    padding-top: 3rem;
    border-top: #EEEEEE solid;
    max-width: 100vw;
  }
  
  .profileImage {
    display: flex;
    padding-left: 3rem;
  }

  .nickname {
    width: 80%;
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
}
