.wrapper {
    min-height : 100vh;
    display: flex;
    justify-content: center;
}

.tabs {
    width: 400px;
    margin-top: 3rem;
}

.tabs h1 {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1rem 1rem 1rem;
}

.nicknameEditTab {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nicknameEditTab button {
    border: none;
    font: inherit;
    padding-right: 260px;
    background-color: inherit;
}

.passwordEditTab {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.passwordEditTab button {
    border: none;
    font: inherit;
    padding-right: 250px;
    background-color: inherit;
}

.withdrawTab {
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.withdrawTab button {
    border: none;
    font: inherit;
    padding-right: 260px;
    background-color: inherit;
}