.listCount {
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.ul {
  margin-left: 0px;
  padding-left: 0px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.list {
    list-style: none;
}

.closebutton {
  width: 10px;
  height: 10px; 
  margin-left: 200px;
}

.listcontent {
  flex : none;
  display: flex;
}