.ul {
  margin-left: 0px;
  padding-left: 0px;
}

.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.list {
    list-style: none;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.closebutton {
  width: 10px;
  height: 10px; 
  margin-left: 200px;
}

.listcontent {
  flex : none;
  display: flex;
}