.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.list {
    list-style: none;
}

.flexcontainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.editbuttons {
  margin-left: 200px;
}

.contents {
  flex : none;
  display: flex;
}

.imageul {
    display: flex;
    width: 500px;
    list-style: none;
    padding-left: 0px;
}

.imagelist {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
}

.reviewwrap {
  list-style: none;
  padding-left: 0px;
}