.profiles {
    display: flex;
}

.logoutbuttonsection {
    display: flex;
    align-items: right;
    justify-content: right;
}

.logoutbutton {
    align-items: right;
    text-align: right;
    font: inherit;
    border: none;
    background-color: white;
    cursor: pointer;
}

.mypagebuttons {
    padding: 1rem 2rem 1rem 1rem;
    display: flex;
    justify-content: space-around;
}

.mypagebuttons button {
    width : 70%;
}

.grayline {
    font-size: 0.5rem;
    background-color: #EEEEEE;
    margin-bottom: 1rem;
}