.tabbar {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.tabbar button {
    border: none;
    cursor: pointer;
    padding: 14px;
    width: 470px;
    overflow: hidden;
    font-size: 15px;
}

.tab {
    background-color: inherit;
    font-weight: 600;
}

.tabactive {
    background-color: white;
    color : #51B059;
    border-bottom: 0.2rem solid #51B059;
    font-weight: 700;
}

@media screen and (max-width: 680px) {
    .tabbar {
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        max-width: 100vw;
    }

    .tabbar button {
        border: none;
        cursor: pointer;
        padding: auto;
        width: 70%;
        overflow: hidden;
        font-size: 15px;
    }
  }  