.container {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

input[type="checkbox"] {
  display: none;
}


.imgwrapper {
  position: relative;
  padding: 0.7rem;
  height: 220px;
  background-image: url("https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20180124_9%2F1516772458748vjMWa_JPEG%2FQ5SNtPm-CjeOJtPhGeSXlMYT.jpg");
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
}

.infowrapper {
    display: flex;
    padding: 0.4rem;
    justify-content: space-between;
    height: 80px;
  }

.bookmarkImg {
  cursor: pointer;
  padding-left: 22px;
  background-repeat: no-repeat;
  background: url("../../assets/image/icon/bookmark.png");
}

.bggradient {
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(39, 63, 40, 0) 0%,
    rgba(89, 89, 89, 0.558824) 15.62%,
    #000000 70.83%
  );
  border-radius: 0px 0px 8px 8px;
}
