.container {
  width: 200px;
  height: 300px;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

a:link,
:visited,
:hover,
:active {
  text-decoration: none;
  color: inherit;
}

input[type='checkbox'] {
  display: none;
}

.imgwrapper {
  position: relative;
  height: 200px;
  padding: 0.7rem;
  background-image: url('https://search.pstatic.net/common/?autoRotate=true&quality=95&type=w750&src=https%3A%2F%2Fldb-phinf.pstatic.net%2F20180124_9%2F1516772458748vjMWa_JPEG%2FQ5SNtPm-CjeOJtPhGeSXlMYT.jpg');
  color: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
}

.infowrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0.4rem 0 0.4rem;
}

.bookmarkImg {
  cursor: pointer;
  padding-left: 22px;
  background-repeat: no-repeat;
}

.bggradient {
  position: absolute;
  height: 40%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(39, 63, 40, 0) 0%,
    rgba(89, 89, 89, 0.558824) 15.62%,
    #000000 70.83%
  );
  border-radius: 0px 0px 8px 8px;
}

.resInfo {
  font-size: 18px;
  font-weight: 600;
  padding-top: 4px;
}

.resInfo p {
  font-size: 14px;
  color: #888888;
  font-weight: 400;
  padding-top: 6px;
}

.ChartBar {
  display: flex;
  align-items: center;
  padding: 0 0.4rem;
  margin: 0;
}