.search {
  position: relative;
  width: 600px;
}

.searchbar {
  width: 100%;
  border: 1px solid #bbb;
  padding: 0.8rem 0.8rem 0.8rem 1.2rem;
  border-radius: 1.5rem;
  font-size: 16px;
}

.searchbar:focus {
  outline: 2px solid #51B059;
  background-color: #D6F0DF;
}

.searchbtn {
  position : absolute;
  width: 0;
  top: 10px;
  right: 8px;
  margin: 0;
  border: 0;
  color: #51B059;
  background-color: transparent;
}

@media screen and (max-width: 680px) {
  .search {
    width: 80vw;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .searchbtn {
    right: 35px;
  }
}