.container {
    padding: 1rem 0;
}

.btn {
    width: 130px;
    height:110px;
    border-radius: 0.6rem;
    background: transparent;
    border: 1px solid #EEEEEE;
    /* background-color: #F6F6F6; */
    box-shadow: 2px 1px 4px #F6F6F6;
}

.btn h6 {
    font-size: 28px;
}

.btn p {
    font-size: 0.9rem;
    padding-top: 0.4rem;
    font-weight: 600;
    color: #262626;
}

.btn h6:hover {
    font-size: 32px;
}


@media screen and (max-width: 680px) {
    .container {
      width: 100vw;
      padding: 0;
    }

    .btn {
        width: 60px;
        height: 40px;
        border-radius: 0.8rem;
        border: 0;
    }
  }