.img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

.reviewCount {
  padding: 2rem 2rem 0rem 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
}

.editbuttons {
  display: flex;
  justify-content: space-between;
}

.editbuttons button:hover{
  background-color: #D6F0DF;
}

.resTitle {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 1rem 1rem 0rem;
}

.contents {
  flex : none;
  display: flex;
}

.imageul {
    display: flex;
    width: 500px;
    list-style: none;
    padding-left: 0px;
}

.imagelist {
    list-style: none;
    display: flex;
    flex-direction: row;
    width: calc(100% / 3);
}

.reviewwrap {
  list-style: none;
  padding-left: 0px;
}

.reviewCard {
  padding: 2rem 2rem 2rem 2rem;
  border-bottom: 1px solid #cccccc;
}

.reviewCard:hover {
  background-color: #f6f6f6;
}

.reviewTitle {
  font-size: 1.1rem;
  font-weight: 600;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
  color: #51B059;
}

.reviews {
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 680px) {
  .container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    max-width: 600px;
  }
}  