.wrapper {
    padding : 1rem 0.5rem 1rem 1rem;
    text-align: center;
}

.buttonArea {
    padding-top: 1rem;
}

.buttonArea button {
    width: 47%;
}

.buttonArea button:hover {
    width: 47%;
    background-color: #D6F0DF;
}