.background {
  position: relative;
  height: 40vh;
  background: url('https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
  z-index: 5;
}

.subtitle {
  z-index: 5;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 1rem;
}

.title {
  z-index: 5;
  font-size: 2rem;
  font-weight: 700;
  color: #51b059;
  margin-bottom: 3rem;
}

.search {
  z-index: 6;
}

.bggradient {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    rgb(0, 0, 0, 0.5) 0%,
    rgb(0, 0, 0, 0.4) 50%,
    rgb(0, 0, 0, 0.2) 70%
  );
}
