.background {
    height: 40vh;
    background: url("https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.title {
    font-size: 2rem;
    color: white;
    margin-bottom: 3rem;
}