.container {
  width: 100%;
  margin: 0 auto;
}

.tags {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2rem;
  margin-bottom: 1rem;
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 600;
  padding-left: 2rem;
}

.rankSection {
  padding: 1rem 2rem;
}

.ranking {
  display: flex;
  align-items: center;
  border: 1px solid #EEE;
  border-radius: 1rem;
  margin-bottom: 0.6rem;
}

.ranking:hover {
  height: 135px;
  box-shadow: 3px 3px 5px #CCC;
}

.ranking span{
  font-size: 36px;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #51B059;
}

@media screen and (max-width: 680px) {
  .container {
    width: 100vw;
    margin: 0 auto;
  }

  .tags {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 1rem;
  }

  .section {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0;
  }
}
