.tabbar {
    background-color:aquamarine;
    padding-left: 0px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.userinfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.follow {
    margin-bottom: 0px;
}