.photocards {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 2rem 2rem 2rem;
}

.pagetitle {
  font-size: 24px;
  font-weight: 700;
  padding: 2rem 2rem 2rem 2rem;
}

.reviewRecommend {
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 2rem;
}

.search {
  position: relative;
  width: 100%;
}

.searchbtn {
  position: absolute;
  width: 0;
  top: 3px;
  right: 70px;
  margin: 0;
  border: 0;
  color: #51b059;
  background-color: transparent;
}

.linebreak {
    padding: 1.5rem 1.5rem 1rem 1rem;
}
