.modalTitle {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.offscreen {
    position: absolute;
    display: none;
    visibility: hidden;
}

.warning {
    display: flex;
    font-size: 0.8rem;
    font-weight: 600;
    color: #EC695B;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
}

.wrapper {
    padding : 1rem 0.5rem 1rem 1rem;
}

.wrapper label {
    font-size: 0.9rem;
}

.buttonArea {
    padding-top: 1rem;
}

.buttonArea button {
    width: 47%;
}