.wrapper {
    padding : 1rem 0.5rem 1rem 1rem;
}

.modalTitle {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.nicknameedit p {
    padding-bottom: 1rem;
    line-height: 1.3rem;
}

.buttonArea {
    padding-top: 1rem;
}

.buttonArea button {
    width: 47%;
}