.pagetitle {
  font-size: 24px;
  font-weight: 700;
  padding: 2rem 2rem 2rem 2rem;
}

.search {
  position: relative;
  width: 100%;
}

.searchbtn {
  position: absolute;
  width: 0;
  top: 3px;
  right: 70px;
  margin: 0;
  border: 0;
  color: #51b059;
  background-color: transparent;
}
