.photocards {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 2rem 2rem 2rem;
  }
  
  .reviewRecommend {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1rem 0 1.5rem 2rem;
  }
  
  .linebreak {
      padding: 1.5rem 1.5rem 1rem 1rem;
  }