.tabsWrap {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: #fff;
}

.tab {
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
}

.tabsClicked {
  width: calc(100% / 3);
  padding: 20px;
  text-align: center;
  font-weight: 600;
  color: #51b059;
  border-bottom: 3px solid #51b059;
}
