.container {
    margin: 0 auto;
    display: flex;
    padding: 2rem;
  }
  
  .resImage {
    width: 360px;
    height: 360px;
    object-fit: cover;
    
  }
  
  .wrap {
    padding-left: 2rem;
  }
  
  .profileWrap {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #888888;
  }

  .restaurantName {
    font-size: 28px;
    font-weight: 600;
    color: #51B059;
    padding-top: 8px;
  }