.container {
  max-width: inherit;
  margin: 0 auto;
  padding: 0 2rem;
}

.container h3 {
  padding: 0;
}

.visitbtn {
  max-width: 100%;
}

.visitbtn button {
  width: calc(100%/2);
  border: 0;
  outline: 0;
  padding: 0.8rem 0;
}

.reviewTags {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.reviewTag {
  font-size: 14px;
  padding: 0.6rem 0.8rem;
  border: 1px solid #CCCCCC;
  border-radius: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviewTagCount {
  padding-left: 4px;
  font-weight: 600;
}

@media screen and (max-width: 680px) {
  .container {
    max-width: inherit;
    margin: 0 auto;
    padding: 0 0.4rem;
  }
  
}