.container {
  max-width: inherit;
  margin: 0 auto;
  padding: 0 2rem;
}

.titleAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container h3 {
  padding: 0;
}

.visitbtn {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  width: calc(100%/2);
  outline: 0;
  padding: 1rem 0;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid #51B059;

}

.tabsClicked {
  width: calc(100%/2);
  outline: 0;
  padding: 1rem 0;
  font-weight: 600;
  text-align: center;
  border-top: 2px solid #51B059;
  border-left: 2px solid #51B059;
  border-right: 2px solid #51B059;
  border-radius: 4px 4px 0 0;
  color: #51B059;
}

.revisit {
  width: 100%;
  padding: 1.2rem 0;
}

.revisit p {
  margin-bottom: 1rem;
}

.chart {
  margin-bottom: 1rem;
}

.nochart {
  padding: 2.4rem 0 2rem 0;
  text-align: center;
  border: 1px dashed #51B059;
  background-color: rgba(214,240,223,0.2)
}


.reviewTagArea {
  margin-top: 1rem;
}

.reviewTagText {
  display: flex;
} 

.reviewTagText p{
  padding-right: 0.5rem;
} 

.reviewTagTip {
  font-size: 13px;
  padding-left: 0.5rem;
  color: #CCCCCC;
}

.reviewTags {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.reviewTag {
  font-size: 14px;
  padding: 0.6rem 0.8rem;
  border: 1px solid #CCCCCC;
  border-radius: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.reviewTagCount {
  padding-left: 4px;
  font-weight: 600;
}

.noReview {
  padding: 3rem 0;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .container {
    max-width: inherit;
    margin: 0 auto;
    padding: 0 0.4rem;
  }
  
}