.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container h3 {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

.container p {
  font-size: 15px;
  line-height: 1.4;
}

.container ul {
  /* text-decoration: dotted; */
  list-style: disc;
  padding-left: 1.5rem;
  line-height: 1.4;
}

.option img{
  padding-right: 0.6rem;
}

@media screen and (max-width: 680px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0.4rem;
  }

  .container h3 {
    padding-top: 1.4rem;
    padding-bottom: 1rem;
    padding-left: 0;
  }
}
