.offscreen {
    position: absolute;
    display: none;
    visibility: hidden;
}

.imgWrap {
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 0;
}

.wrap {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 400px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
}

.pagetitle {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.buttonContents {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}

.buttonContents button {
    width: 100%
}

.buttonContents button:hover {
    background-color: #D6F0DF;
}

.warning {
    font-size: 14px;
    font-weight: 600;
    color: #EC695B;
    padding: 5px 0px 0px 5px
}

.toLogin {
    text-align: center;
}

.toLogin a {
    text-decoration: underline;
}

.loginInfo {
    padding: 2rem 0 0 1rem;
    text-align: center;
}

.loginInfo a {
    text-decoration: underline;
}