.offscreen {
    position: absolute;
    display: none;
    visibility: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: 100%
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
}

.pagetitle {
    font-size: 24px;
    font-weight: 700;
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.buttoncontents {
    display: flex;
    justify-content: center;
}

.warning {
    font-size: 14px;
    font-weight: 600;
    color: #EC695B;
    padding: 5px 0px 0px 5px
}

/* .form {
    display: flex;
    flex-direction: column;
    width: none;
    align-items: center;
} */

.logininfo {
    padding: 30px 0px 0px 10px   
}